__pycache__/
*.py[cod]
*$py.class
*.so
.env
.venv
env/
venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.idea/
.vscode/
*.swp
*.log
*.backup
error_log.txt
test_result.log
test_output.txt
app.db
templates_kids/
cloudinary_url.txt
crash_log.txt
err.txt
error_out.json
final_url.txt
out.txt
upload_url.txt
